h1 {
  color: blue;
  text-decoration: line-through;
  text-transform: capitalize;
}

p {
  text-indent: 50px;
  /* membuat jarak antar text */
  word-spacing: 50px;
}

a {
  text-decoration: none;
  color: black;
}
